<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <h2>نامه های در انتظار بایگانی</h2>
    
    <h:form id="ready">
	    <p:dataTable var="l" value="#{main.getWaitForArchives()}" rowKey="#{l.id}" selection="#{main.selectedLetters}">
	    
	    	<p:column selectionMode="multiple" />
	    	
	    	<p:column headerText="فرستنده">
	    		<h:outputText value="#{l.senderFullName}"/>
	    	</p:column>
	    	
	    	<p:column headerText="عنوان">
	    		<h:outputText value="#{l.title}" />     			
	    	</p:column>
	    	
	    	<p:column headerText="وضعیت">
	    		<h:outputText value="#{l.getStatusString()}" />     			
	    	</p:column>
	    	
	    	
	    </p:dataTable>
	    <p:commandButton value="بایگانی" action="#{main.archiveSelected()}" process="ready, archived"/>
    
    <br/>
    
    <p:dataTable id="archived" var="l" value="#{main.getArchiveds()}" rowKey="#{l.id}" >
	    	
    	<p:column headerText="فرستنده">
    		<h:outputText value="#{l.senderFullName}"/>
    	</p:column>
    	
    	<p:column headerText="عنوان">
    		<h:outputText value="#{l.title}" />     			
    	</p:column>
    	
    </p:dataTable>
        </h:form>
    
   
</ui:composition>