<!DOCTYPE html>
<html dir="rtl" lang="fa-IR"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

   
       <h:head>
  	    	<meta charset="utf-8" />
       		<title>Home</title>
       		<link rel="stylesheet" href="style.css" />
       </h:head>
       <h:body style="direction: rtl;">
       		
       		<p:outputLabel value="کاربر جاری: " styleClass="label"/>
       		<p:outputLabel value="#{main.user.getFullName()}" style="color:black;" />
       		<br/><br/>
       		
       		<h:form id="form">
				
			    
		        <p:tabView>
		        
   				    <p:growl id="msgs" skipDetailIfEqualsSummary="true"/>
		        	
		        
		        	<p:ajax event="tabChange" listener="#{main.onTabChange}" update="@form"/>
		        	
		            <p:tab id="sendLetter" title="ارسال نامه">
   					    <ui:include src="/sendLetter.xhtml" />
		            </p:tab>
		            
		            <p:tab id="sign" title="امضا">
		                <ui:include src="/signList.xhtml" />
		            </p:tab>
		            
		            <p:tab id="archive" title="بایگانی">
		                <ui:include src="/archive.xhtml" />	            	
		            </p:tab>
		            
		            <p:tab id="sent" title="نامه های ارسال شده">
		                <p>tab 4</p>
		            </p:tab>
		            
		        </p:tabView>
			    
			
			</h:form>
			
			
       		
       </h:body>

</html>