<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <h:inputHidden value="#{letter.setId(param['letterId'])}"/>
      	
   	<p:panelGrid columns="2" cellspacing="5" >
   		<p:outputLabel for="sender" value="فرستنده: "/>
   		<h:outputText id="sender" value="#{letter.view.senderFullName}"/>
   		
   		
		<p:outputLabel for="viewers" value="گیرنده: "/>
   		<h:outputText id="viewers" value="#{letter.view.viewersFullNames}"/>
   		
   		<p:outputLabel for="title" value="عنوان: "/>
   		<h:outputText id="title" value="#{letter.letter.title}"/>
		
		<p:outputLabel for="signers" value="امضاکننده: "/>
   		<h:outputText id="signers" value="#{letter.view.signersFullNames}"/>

 	</p:panelGrid>
  	
  	<br/>
  	
  	<p:outputLabel for="text" value="متن نامه: " />
  	<br/>
  	<p:inputTextarea id="text" value="#{letter.letter.body}" readonly="true" cols="32" rows="10"/>
  
</ui:composition>