<!DOCTYPE html>
<html dir="rtl" lang="fa-IR"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

   
       <h:head>
       	<meta charset="utf-8" />
       	<title>Login</title>
       </h:head>
       <h:body style="direction: rtl;">
       	
       	<h:form>
       		<h2>ورود کاربران</h2>
       		
       		<p:growl id="growl" sticky="false" life="2800" />
       		       			
       		<p:panelGrid columns="2" cellspacing="5" >
	        	<p:outputLabel value="نام کاربری: "  />
	        	<p:inputText value="#{login.user.username}" required="true" placeholder="Enter username" requiredMessage="نام کاربری خود را وارد کنید" />
	        	
	        	<p:outputLabel value="رمز عبور: " />
	        	<p:password value="#{login.user.pass}" required="true" placeholder="Enter password"  requiredMessage="رمز عبور را وارد کنید" />
	        </p:panelGrid>	
	        
	        <p:commandButton value="ورود" action="#{login.doLogin}" update="growl" />
        </h:form>       
         	
       </h:body>

</html>