<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <h2>ارسال نامه</h2>
   
   	<h:form id="form1">
   
  	
	   	<p:panelGrid columns="2" cellspacing="5" >
	   		<p:outputLabel for="title" value="عنوان: "/>
	   		<p:inputText id="title" value="#{main.letterMock.letter.title}" required="true" requiredMessage="عنوان نامه را وارد کنید" />
	 	</p:panelGrid>
	  	
	  	<br/>
	   	
	   	<p:panelGrid id="recievePanelGrid" columns="5" cellspacing="5" >
	   		<p:outputLabel for="recipients"  value="گیرنده(ها): "/>
	   		<p:inputTextarea id="recipients" value="#{main.letterMock.viewersFullNames}" required="true" requiredMessage="گیرنده ها را انتخاب کنید" readonly="true" cols="30" rows="3" />
	   		
	   		<p:commandButton value="حذف لیست" action="#{main.letterMock.clearViewers()}" update="recipients, signers"  process="recievePanelGrid, signPanelGrid"/>		
	   		
	   		<p:selectOneMenu  value="#{main.letterMock.newViewerId}" >	
	   			<f:selectItems value="#{main.letterMock.otherUsers}" var="u" itemLabel="#{u.getFullName()}" itemValue="#{u.id}"/>
	   		</p:selectOneMenu>
	   		
	   		<p:commandButton value="اضافه" action="#{main.letterMock.addNewViewer()}" update="recipients, signList"  process="recievePanelGrid"/>
	   		
	   		
	   	</p:panelGrid>
	   
	   	<br/>
	   	
	   	<p:panelGrid columns="2" cellspacing="5" >
	  		
	   		<p:outputLabel for="text"  value="متن: "/>
	   		<p:inputTextarea id="text" value="#{main.letterMock.letter.body}" required="true" requiredMessage="متن نامه را وارد کنید" cols="32" rows="10"/>  
	   		
	   	</p:panelGrid>
	   	
	   	<br/>
	   	
	   	<p:panelGrid id="signPanelGrid" columns="6">
	  		
	   		<p:outputLabel for="signers"  value="امضاکننده(ها)"/>
	   		<p:inputTextarea id="signers" value="#{main.letterMock.signersFullNames}" readonly="true" required="true" requiredMessage="امضاکننده ها را انتخاب کنید" cols="30" rows="3" />
	   		
	   		<p:commandButton value="حذف لیست" action="#{main.letterMock.clearSigners()}" update="signers"  process="signPanelGrid" />
	   		
	   		<p:selectOneMenu id="signList" value="#{main.letterMock.newSignerId}" >	
	   			<f:selectItems value="#{main.letterMock.otherUsers}" var="u" itemLabel="#{u.getFullName()}" itemValue="#{u.id}" />
	   		</p:selectOneMenu>
	   		
	   		<p:commandButton value="اضافه" action="#{main.letterMock.addNewSigner()}" update="signers"  process="signPanelGrid" />
	   		
	   		
	   	</p:panelGrid>
	   	
	   	<p:panelGrid>
	   		<p:commandButton value="ارسال" action="#{main.sendLetter()}"/>
	   	</p:panelGrid>
	
	</h:form>
	
   
</ui:composition>