<!DOCTYPE html>
<html dir="rtl" lang="fa-IR"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

   
       <h:head>
       	<meta charset="utf-8" />
       	<title>Login</title>
       </h:head>
       
       <h:body style="direction: rtl;">
       	<h:form>
       	    <ui:include src="letterView.xhtml" /> 
	        <br/>
	        <p:panelGrid columns="3" id="buttons" >
	        	<p:commandButton value="تایید" action="#{letter.sign()}" process="buttons"/>
	        	<p:commandButton value="رد"  action="#{letter.reject()}" process="buttons"/>
	        	<p:commandButton value="بازگشت" action="/home.xhtml?faces-redirect=true&amp;redirectTo='signer'" process="buttons"/>
	        </p:panelGrid>
       	</h:form>
         
       </h:body>

</html>