<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    <h2>نامه های منتظر امضا</h2>
    
    <p:dataTable id="letters" var="sv" value="#{main.getSignViews()}" rowKey="#{sv.letterId}" selectionMode="single" >
    	
    	<p:column headerText="فرستنده">
    		<h:outputText value="#{sv.senderFullName}"/>
    	</p:column>
    	
    	<p:column headerText="عنوان" >
    		<p:commandLink value="#{sv.letterTitle}" action="#{main.signLetter(sv.letterId)}" process="letters">
    			
    		</p:commandLink>
    	</p:column>
    	
    	
    	
    	
    </p:dataTable>
    
   
</ui:composition>